<%= form_for([@rule, @handler]) do |f| %>
  <div class="section">
    <div class="section-summary">
      <h1>Action details</h1>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :service_name %>
          <%= f.select :service_name, Handler::HANDLERS.map(&:to_s) %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-summary">
      <h1>Settings</h1>
    </div>
    <div class="section-content">
      <%= f.fields_for :settings do |ff| %>
        <% Handler::HANDLERS.each do |service| %>
          <% service::SETTINGS.each do |setting_name| %>
            <div class="section-row">
              <div class="section-cell">
                <%= ff.label setting_name %>
                <%= ff.text_field setting_name %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: "New",
    breadcrumb: { label: "Rules", href: "<%= rules_path %>", target: 'app', loading: false },
    buttons: {
      primary: { label: "Save", callback: function() {
        $('form').submit()
      }},
      secondary: [{
        label: "Cancel", callback: function() {
          window.location = "<%= rule_path(@rule) %>"
        }
      }]
    }
  });

  <% if @handler.errors.any? %>
    ShopifyApp.flashError('Oops, something went wrong!');
  <% end %>
<% end %>
