<div class="section-row" data-section>
  <div class="section-cell">
    <a href="#" class="right" data-destroy="filter">
      <span class="icon ico-clear-bluegray"></span>
    </a>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>
    <%= f.label :value, 'Field' %>
    <%= f.text_field :value, placeholder: 'Example: {{ default_address.company }}', data: { 'filter-value': true } %>

    <%= f.label :verb %>
    <div class="select-wrapper">
      <%= f.select :verb, Filter::VERBS.map { |k,v| [v, k] }, { prompt: 'Verb' }, { class: 'select' } %>
    </div>

    <%= f.label :regex, 'Value' %>
    <%= f.text_field :regex, placeholder: 'Example: Shopify' %>
  </div>
</div>
