<%= form_for(@rule, html: { id: 'rule-form' }) do |f| %>  
  <div class="Polaris-Layout">
    <div class="Polaris-Layout__AnnotatedSection">
      <div class="Polaris-Layout__AnnotationWrapper">
        <div class="Polaris-Layout__Annotation">
          <div class="Polaris-TextContainer">
            <h2 class="Polaris-Heading" id="ruleDetails">
              Details
            </h2>
            <div class="Polaris-Layout__AnnotationDescription">
              <p>
                Configure on which Shopify event you'd like this rule to execute. For more information,
                <a href="https://github.com/christianblais/triggerify/wiki/Rule-Foundation" target="_blank">click here</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__AnnotationContent">
          <div class="Polaris-Card">
            <div class="Polaris-Card__Section">
              <div class="Polaris-FormLayout">
                <div class="Polaris-FormLayout__Item">
                  <div class="Polaris-Labelled__LabelWrapper">
                    <div class="Polaris-Label">
                      <%= f.label :name, class: "Polaris-Label__Text" %>
                    </div>
                  </div>
                  <div class="Polaris-Connected">
                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                      <div class="Polaris-TextField Polaris-TextField--hasValue">
                        <%= f.text_field :name, placeholder: "name", class: "Polaris-TextField__Input" %>
                        <div class="Polaris-TextField__Backdrop"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="Polaris-FormLayout__Item">
                  <%= f.label :enabled, class: "Polaris-Choice" do %>
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-Checkbox">
                        <%= f.check_box :enabled, class: "checkbox", class: "Polaris-Checkbox__Input" %>
                        <span class="Polaris-Checkbox__Backdrop"></span>
                        <span class="Polaris-Checkbox__Icon">
                          <span class="Polaris-Icon">
                            <span class="Polaris-VisuallyHidden"></span>
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                              <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                            </svg>
                          </span>
                        </span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">Enabled</span>
                  <% end %>
                </div>

                <div class="Polaris-FormLayout__Item">
                  <div class="Polaris-Labelled__LabelWrapper">
                    <div class="Polaris-Label">
                      <%= f.label :topic, class: "Polaris-Label__Text" %>
                    </div>
                  </div>
                  <div class="Polaris-Select">
                    <%= f.select :topic, Rule::TOPICS.map { |k,v| [v, k] }, { prompt: 'Select a topic' }, { data: { topic: true } } %>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="filters" class="Polaris-Layout__AnnotatedSection">
      <div class="Polaris-Layout__AnnotationWrapper">
        <div class="Polaris-Layout__Annotation">
          <div class="Polaris-TextContainer">
            <h2 class="Polaris-Heading">
              Filters
            </h2>
            <div class="Polaris-Layout__AnnotationDescription">
              <p>
                Add a filter to ensure actions are only performed when certain criterias are met. Skip this test if you'd like for this action to always execute.
                For more information, <a href="https://github.com/christianblais/triggerify/wiki/Rule-Filters" target="_blank">click here</a>.
                <br><br>
                <button class="Polaris-Button" type="button" data-add="filter">
                  <span class="Polaris-Button__Content">
                    <span class="Polaris-Button__Text">Add filter</span>
                  </span>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__AnnotationContent">
          <div data-filter-list>
            <% @rule.filters.each do |filter| %>
              <%= f.fields_for :filters, filter do |ff| %>
                <%= render 'filter', f: ff %>
              <% end %>
            <% end %>
          </div>

          <div style="display: none;" data-filter-template>
            <%= f.fields_for :filters, Filter.new do |ff| %>
              <%= render 'filter', f: ff, destroyed: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="handlers" class="Polaris-Layout__AnnotatedSection">
      <div class="Polaris-Layout__AnnotationWrapper">
        <div class="Polaris-Layout__Annotation">
          <div class="Polaris-TextContainer">
            <h2 class="Polaris-Heading" id="ruleDetails">
              Actions
            </h2>
            <div class="Polaris-Layout__AnnotationDescription">
              <p>
                Configure on which Shopify event you'd like this rule to execute. For more information,
                <a href="https://github.com/christianblais/triggerify/wiki/Rule-Actions" target="_blank">click here</a>.
                <br><br>
                <button class="Polaris-Button" type="button" data-add="handler">
                  <span class="Polaris-Button__Content">
                    <span class="Polaris-Button__Text">Add action</span>
                  </span>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="Polaris-Layout__AnnotationContent">
          <div data-handler-list>
            <% @rule.handlers.each do |handler| %>
              <%= f.fields_for :handlers, handler do |ff| %>
                <%= render 'handler', f: ff %>
              <% end %>
            <% end %>
          </div>

          <div style="display: none;" data-handler-template>
            <%= f.fields_for :handlers, Handler.new do |ff| %>
              <%= render 'handler', f: ff, destroyed: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>

<script>
  var breadcrumb = Button.create(app, { label: 'Rules' });
  breadcrumb.subscribe(Button.Action.CLICK, () => {
    Turbolinks.visit('<%= rules_path %>');
  });

  var secondaryButtons = [];

  var cancelButton = Button.create(app, { label: 'Cancel' });
  cancelButton.subscribe(Button.Action.CLICK, () => {
    Turbolinks.visit('<%= rules_path %>');
  });
  secondaryButtons.push(cancelButton);

  <% unless @rule.persisted? %>
    var templatesButton = Button.create(app, { label: 'Import from templates' });
    templatesButton.subscribe(Button.Action.CLICK, () => {
      Turbolinks.visit('<%= templates_rules_path %>');
    });
    secondaryButtons.push(templatesButton);
  <% end %>

  var saveButton = Button.create(app, { label: 'Save' });
  saveButton.subscribe(Button.Action.CLICK, () => {
    var form = document.getElementById('rule-form');

    fetch(form.getAttribute('action'), {
      method: 'POST',
      redirect: 'manual',
      headers: { "Authorization": "Bearer " + window.sessionToken },
      body: new FormData(form)
    }).then((response) => {
      if (response.type === "opaqueredirect") {
        Turbolinks.visit(response.url);
      } else {
        response.text().then((response) => {
          Turbolinks.clearCache();
      
          var responseHTML = (new DOMParser()).parseFromString(response, 'text/html');
          document.querySelector('#AppFrameMain').innerHTML = responseHTML.querySelector('#AppFrameMain').innerHTML;
          
          Turbolinks.dispatch("turbolinks:load");
          window.scroll(0, 0);
        })
      }
    })
  });
  
  TitleBar.create(app, {
    title: "<%= @rule.persisted? ? @rule.name : 'New' %>",
    buttons: {
      primary: saveButton,
      secondary: secondaryButtons
    },
    breadcrumbs: breadcrumb,
  });
</script>
