<%= form_for(@rule) do |f| %>
  <div class="section">
    <div class="section-summary">
      <h1>Rule details</h1>
    </div>
    <div class="section-content">
      <div class="section-row">
        <div class="section-cell">
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :topic %>

          <div class="select-wrapper">
            <%= f.select :topic, Rule::TOPICS.map { |k,v| [v, k] }, {}, { class: 'select' } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="filters" class="section">
    <div class="section-summary">
      <h1>Filters</h1>
      <p>
        <button class="btn primary" data-add="filter">
          Add a filter
        </button>

        <div style="display: none;" data-filter-template>
          <%= f.fields_for :filters, Filter.new do |ff| %>
            <%= render 'filter', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-filter-list>
      <% @rule.filters.each do |filter| %>
        <%= f.fields_for :filters, filter do |ff| %>
          <%= render 'filter', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="handlers" class="section">
    <div class="section-summary">
      <h1>Actions</h1>
      <p>
        <button class="btn primary" data-add="handler">
          Add an action
        </button>

        <div style="display: none;" data-handler-template>
          <%= f.fields_for :handlers, Handler.new do |ff| %>
            <%= render 'handler', f: ff, destroyed: true, disabled: true %>
          <% end %>
        </div>
      <p>
    </div>
    <div class="section-content" data-handler-list>
      <% @rule.handlers.each do |handler| %>
        <%= f.fields_for :handlers, handler do |ff| %>
          <%= render 'handler', f: ff %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: "<%= @rule.persisted? ? @rule.name : 'New' %>",
    breadcrumb: { label: "Rules", href: "<%= rules_path %>", target: 'app', loading: false },
    buttons: {
      primary: { label: "Save", callback: function() {
        $('form').submit()
      }},
      secondary: [{
        label: "Cancel", callback: function() {
          window.location = "<%= rules_path %>"
        }
      }]
    }
  });

  <% if @rule.errors.any? %>
    ShopifyApp.flashError("<%= @rule.errors.full_messages %>");
  <% end %>
<% end %>
