<div class="section-row" data-section>
  <div class="section-cell">
    <a href="#" class="right" data-destroy="handler">
      <span class="icon ico-clear-bluegray"></span>
    </a>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>

    <%= f.label :service_name, 'Action' %>
    <div class="select-wrapper">
      <%= f.select :service_name, Handler::HANDLERS.map { |handler| [handler.label, handler.to_s] }, { prompt: "Select an action" }, { class: 'select', data: { handler: true } } %>
    </div>

    <%= f.fields_for :settings do |ff| %>
      <% Handler::HANDLERS.each do |handler| %>
        <div data-handler-details="<%= handler %>">
          <% if handler.description.present? %>
            <p><%= raw(handler.description) %></p>
          <% end %>

          <% handler.settings.each do |name, options| %>
            <div data-handler-settings>
              <%= ff.label name do %>
                <%= options[:name] %>

                <% if options[:optional] %>
                  <%= raw("<i>(optional)</i>") %>
                <% end %>
              <% end %>

              <% if options.key?(:options) %>
                <div class="select-wrapper">
                  <%= ff.select name, options[:options], { selected: f.object.settings[name] }, { class: 'select' } %>
                </div>
              <% else %>
                <%= ff.text_field name, value: f.object.settings[name] %>
              <% end %>

              <% if options.key?(:example) %>
                <p class="example"><b>Example:</b> <%= raw(options[:example]) %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
