<div class="Polaris-Card" data-section>  
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
        <div class="Polaris-Stack__Item Polaris-Stack__Item--fill"></div>
        <div class="Polaris-Stack__Item">
          <div class="Polaris-ButtonGroup">
            <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
              <button class="Polaris-Button Polaris-Button--destructive Polaris-Button--plain" type="button" data-destroy>
                <span class="Polaris-Button__Content">
                  <span class="Polaris-Button__Text">Remove</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>

    <div class="Polaris-FormLayout">
      <%= f.polaris_select(:service_name, available_handlers.map { |handler| [handler.label, handler.to_s] }, { prompt: "Select an action" }, { data: { handler: true } }) %>

      <%= f.fields_for :settings, f.object.settings do |ff| %>
        <% available_handlers.each do |handler| %>
          <div data-handler-details="<%= handler %>">
            <% if handler.description.present? %>
              <div class="Polaris-FormLayout__Item">
                <p class="Polaris-TextStyle--variationSubdued"><%= raw(handler.description) %></p>
              </div>
            <% end %>

            <% handler.settings.each do |name, options| %>
              <% label = options[:optional] ? "#{options[:name]} <i>(optional)</i>" : options[:name] %>
              <% help = "<b>Example:</b> #{options[:example]}" if options.key?(:example) %>

              <% if options.key?(:options) %>
                <%= ff.polaris_select(name, options[:options], { help: help, selected: f.object.settings[name] }) %>
              <% else %>
                <%= ff.polaris_text_field(name, help: help, value: f.object.settings[name]) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
