<div class="section-row">
  <div class="section-cell">
    <%= f.label :service_name %>
    <div class="select-wrapper">
      <%= f.select :service_name, Handler::HANDLERS.map(&:to_s), {}, { class: 'select' } %>
    </div>

    <%= f.fields_for :settings do |ff| %>
      <% Handler::HANDLERS.each do |handler| %>
        <div data-handler="<%= handler %>">
          <% handler.settings.each do |setting_name| %>
            <%= ff.label setting_name %>
            <%= ff.text_field setting_name, value: f.object.settings[setting_name] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
