<div class="section-row" data-section>
  <div class="section-cell">
    <a href="#" class="right" data-destroy="handler">
      <span class="icon ico-clear-bluegray"></span>
    </a>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>

    <%= f.label :service_name, 'Action' %>
    <div class="select-wrapper">
      <%= f.select :service_name, Handler::HANDLERS.map { |k, v| [v, k.to_s] }, { prompt: "Action" }, { class: 'select' } %>
    </div>

    <%= f.fields_for :settings do |ff| %>
      <% Handler::HANDLERS.keys.each do |handler| %>
        <div data-handler="<%= handler %>">
          <% handler.settings.each do |setting_name| %>
            <%= ff.label setting_name %>
            <%= ff.text_field setting_name, value: f.object.settings[setting_name] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
