<div class="section-row" data-section>
  <div class="section-cell">
    <a href="#" class="right" data-destroy="handler">
      <span class="icon ico-clear-bluegray"></span>
    </a>

    <%= f.hidden_field :_destroy, value: local_assigns.fetch(:destroyed, false) %>

    <%= f.label :service_name, 'Action' %>
    <div class="select-wrapper">
      <%= f.select :service_name, Handler::HANDLERS.map { |k, v| [v, k.to_s] }, { prompt: "Action" }, { class: 'select', data: { handler: true } } %>
    </div>

    <%= f.fields_for :settings do |ff| %>
      <% Handler::HANDLERS.keys.each do |handler| %>
        <div data-handler-details="<%= handler %>">
          <% handler.settings.each do |name, options| %>
            <%= ff.label name do %>
              <%= name %>

              <% if options.key?(:info) || options.key?(:example) %>
                <a href="#" class="help">
                  <span class="icon ico-help-blue"></span>
                  <span class="tooltip-container">
                    <span class="tooltip-label">
                      <% if options.key?(:info) %>
                        <h1>Information</h1>
                        <p><%= options[:info] %></p>
                      <% end %>
                      <% if options.key?(:example) %>
                        <h1>Examples</h1>
                        <p><%= options[:example] %></p>
                      <% end %>
                    </span>
                  </span>
                </a>
              <% end %>
            <% end %>

            <% if options.key?(:options) %>
              <div class="select-wrapper">
                <%= ff.select name, options[:options], { selected: f.object.settings[name] }, { class: 'select' } %>
              </div>
            <% else %>
              <%= ff.text_field name, value: f.object.settings[name] %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
